<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Client Side</title>
</head>
<body data-ng-app="rewardsApp">
  <main data-ng-controller="rewardsController" data-ng-init="getAll()">
    <h1>Reward Profiles</h1>
    <aside data-ng-if="errors.length">
      <h2>Errors</h2>
      <ul data-ng-repeat="error in errors">
        <li>{{error.msg}}</li>
      </ul>
      <button data-ng-click="clearErrors()">Clear Errors</button>
    </aside>

    <form name="newRewardForm" data-ng-submit="createNewReward()">
      <input type="text" required data-ng-model="newReward.level">
      <input type="number" required data-ng-model="newReward.points">
      <button type="submit" data-ng-disabled="newRewardForm.$invalid">Create New Reward</button>
    </form>

    <ul data-ng-repeat="reward in rewards">
      <li>
        <strong><ins>Level:</ins></strong> {{reward.level}}<br>
        <strong><ins>Points:</ins></strong> {{reward.points}}<br>
        <button data-ng-click="removeReward(reward)">Delete</button>
        <button data-nf-if="!reward.editing" data-ng-click="copyReward(reward); reward.editing = true">Edit</button>
        <form name="{{'editing' + reward._rewardId" data-ng-if="reward.editing" data-ng-submit="updateReward(reward)">
          <input type="text" data-ng-model="reward.level">
          <input type="number" data-ng-model="reward.points">
          <button type="submit">Save Profile</button>
          <button data-ng-click="resetReward(reward); reward.editing = false">Cancel</button>
        </form>
      </li>
    </ul>

  </main>
  <script src="bundle.js"></script>
</body>
</html>
